<p>This is the index page</p>

<ul>
  <% @items.each do |item| %>
    <li>
      <!-- <a href="<%= item_path(item) %>">
        <%= item.title %>
      </a> -->
      <%= link_to item.title, item %>
    </li>
  <% end %>
</ul>