<h1>Create a new item</h1>

<!-- <form method="POST" action="<%= items_path %>"> -->
<%= form_tag items_path do %>
  <label> Title
    <input type="text" name="title">
  </label>
  <input type="text" name="description" placeholder="Description">
  <input type="number" name="price_in_cents" placeholder="Price">
  <input type="number" name="quantity_available" placeholder="Quantity">
  <button>Save</button>
<% end %>